<% flash.each do |name, message| %>
  <% if name == 'alert' %>
    <div>
      <%= message %>
    </div>
  <% elsif name == 'notice' %>
    <div>
      <%= message %>
    </div>
  <% else %>
    <div>
      <%= message %>
    </div>
  <% end %>
<% end %>